[submodule "config/awesome/lain"]
	path = awesome/.config/awesome/lain
	url = https://github.com/copycat-killer/lain.git
[submodule "autoenv"]
	path = autoenv
	url = https://github.com/kennethreitz/autoenv.git
[submodule "antigen"]
	path = zsh/.antigen
	url = https://github.com/zsh-users/antigen
[submodule "vim/bundle/Vundle.vim"]
	path = vim/bundle/Vundle.vim
	url = https://github.com/gmarik/Vundle.vim.git
